@use"./variables" as *;

.home {
    .main {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        box-sizing: border-box;
        .container {
            background: $white;
            padding: 1.5rem;
            border-radius: 7px;
            border: 2px solid $orange;
        }
        .quote {
            font-weight: 500;
            display: flex;
            .orange-letter:first-child {
                font-weight: 600;
            }
        }
    }
}
.apelsin {
    background-image: url("/images/apelsin.png");
}