// Font family
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$primaryFontFamily: 'Poppins', sans-serif;
// Colors
$lightOrange: #FFF2E7;
$lighterOrange: #FDE6D2;
$orange: #FF7B05;
$white: white;

/* Screen sizes */

$screen-xs: 320px;
$screen-tn: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-hg: 1920px;
$max-width: 1440px;